<div class="span12">
  <div class="row">

    <div class="span4">
      <%= render "sign_up_form" %>
    </div>

		<div class="span2">
			<br /><br /><br /><br /><br /><br /><br />
			<h2> OR </h2>
		</div>

    <div class="span4">
      <%= render "devise/sessions/sign_in_form" %>
    </div>

  </div>
</div>
  <%= render "devise/shared/links" %>
