
	
<%- model_class = Order -%>
<div class="page-header">
 
	<div>
		<h4>So here is the deal. When you submit an order it's actually going to show up. <br />
		Yeah, like for reals. A real sandwich is going to get delivered by Waiters on Wheels. <br />
		It'll take between 30 and 90 min.  </h4>
		So, um, try not to abuse the system.
	
	</div>
	<div>
		<br />
		<h4> All Sandwich's are $5.99. </h4> 
		Looks like you have credit in the system though. So you're cool. Like the Fonz

	</div>
			
</div>

<%= render :partial => 'form' %>



