<%- model_class = Order -%>
<div class="page-header">
  <h3>Sounds like you're hungry. <br />
	Well you've come to the right place</h3>
	<div>
		Put in an order and we'll get it to you just as soon as Fred feels like it. 
	</div>
</div>

<%= render :partial => 'form' %>


